* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100%;
}
.hero {
  background-color: #191919;
  max-width: 100%;
  max-height: 700px;
  display: flex;
}
p {
  color: white;
  font-size: 18px;
}
.bold {
  font-weight: bold;
}
.IN {
  background-color: #f3dede;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-top: 80px;
  margin-bottom: 152px;
  font-size: 40px;
}
.container_one {
  width: 277px;
  display: flex;
  justify-content: center;
}
.menu {
  margin-top: 138px;
  margin-left: 98px;
  gap: 20px;
  display: grid;
  justify-items: center;
}
.line {
  background-color: #f3dede;
  height: 700px;
  width: 0.5px;
  margin-left: 89px;
}
.groupone {
  display: flex;
  justify-items: center;
  margin-bottom: 18px;
}
.maincontain {
  margin-top: 217px;
  margin-left: 110px;
}
.sentone {
  font-size: 85px;
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 23px;
}
.secondbutton {
  background-color: #f3dede;
  border-radius: 100px;
  width: 180px;
  height: 50px;
}
.black {
  color: black;
  font-size: 18px;
  font-weight: bold;
}
.in {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
